azure/logic-app/workflow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "orfe-dept-azure-sdc-logic",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "functionAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure Function App"
      }
    },
    "functionAppResourceGroup": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Resource group of the Azure Function App"
      }
    },
    "functionKey": {
      "type": "securestring",
      "metadata": {
        "description": "Function key for process-newsletter endpoint (retrieved at deploy time)"
      }
    },
    "o365FolderPath": {
      "type": "string",
      "defaultValue": "SmartDrivingCars Newsletters for Processing",
      "metadata": {
        "description": "O365 mail folder to monitor for newsletters"
      }
    },
    "githubOwner": {
      "type": "string",
      "defaultValue": "PrincetonUniversity",
      "metadata": {
        "description": "GitHub repository owner"
      }
    },
    "githubRepo": {
      "type": "string",
      "defaultValue": "smartdrivingcar",
      "metadata": {
        "description": "GitHub repository name"
      }
    },
    "o365ConnectionId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the O365 API connection"
      }
    },
    "githubConnectionId": {
      "type": "string",
      "metadata": {
        "description": "Resource ID of the GitHub API connection"
      }
    }
  },
  "variables": {
    "functionAppUrl": "[concat('https://', parameters('functionAppName'), '.azurewebsites.net')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "When_a_new_email_arrives": {
              "type": "ApiConnection",
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              },
              "evaluatedRecurrence": {
                "frequency": "Minute",
                "interval": 5
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/Mail/OnNewEmail",
                "queries": {
                  "folderPath": "[parameters('o365FolderPath')]",
                  "importance": "Any",
                  "fetchOnlyWithAttachment": false,
                  "includeAttachments": false
                }
              }
            }
          },
          "actions": {
            "Process_Newsletter": {
              "type": "Http",
              "runAfter": {},
              "inputs": {
                "method": "POST",
                "uri": "[concat(variables('functionAppUrl'), '/api/process-newsletter')]",
                "headers": {
                  "Content-Type": "application/json",
                  "x-functions-key": "[parameters('functionKey')]"
                },
                "body": {
                  "body_html": "@{triggerBody()?['body']}",
                  "subject": "@{triggerBody()?['subject']}",
                  "received_date": "@{triggerBody()?['receivedDateTime']}"
                }
              }
            },
            "Parse_Response": {
              "type": "ParseJson",
              "runAfter": {
                "Process_Newsletter": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "content": "@body('Process_Newsletter')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "markdown": {
                      "type": "string"
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "is_duplicate": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "Check_Not_Duplicate": {
              "type": "If",
              "runAfter": {
                "Parse_Response": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_Response')?['is_duplicate']",
                        true
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Trigger_GitHub_Actions": {
                  "type": "ApiConnection",
                  "runAfter": {},
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['github']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[concat('/repos/', parameters('githubOwner'), '/', parameters('githubRepo'), '/dispatches')]",
                    "body": {
                      "event_type": "newsletter-processed",
                      "client_payload": {
                        "slug": "@{body('Parse_Response')?['slug']}",
                        "title": "@{body('Parse_Response')?['title']}",
                        "date": "@{body('Parse_Response')?['date']}",
                        "markdown": "@{body('Parse_Response')?['markdown']}",
                        "display_name": "@{body('Parse_Response')?['display_name']}"
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[parameters('o365ConnectionId')]",
                "connectionName": "orfe-dept-azure-sdc-o365",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              },
              "github": {
                "connectionId": "[parameters('githubConnectionId')]",
                "connectionName": "orfe-dept-azure-sdc-github",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'github')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
